<div class="header">

  <div class="header-logo"></div>

  <div class="header-nav">
    <a href="" class="header-nav-link">О сервисе</a>
    <a href="" class="header-nav-link">Договор</a>
    <a href="" class="header-nav-link">Тарифы</a>
    <a href="" class="header-nav-link">Оплата</a>
    <a href="" class="header-nav-link">Базы</a>
    <a href="" class="header-nav-link">Справка</a>
  </div>

  <div class="header-auth">
    <button class="header-auth-enter-btn">Вход</button>
    <button class="header-auth-registration-btn">Регистрация</button>
  </div>

</div>
