<div class="footer">
  <div class="footer-nav">
    <a href="" class="footer-nav-link">О сервисе</a>
    <a href="" class="footer-nav-link">Договор</a>
    <a href="" class="footer-nav-link">Тарифы</a>
    <a href="" class="footer-nav-link">Оплата</a>
    <a href="" class="footer-nav-link">Базы</a>
    <a href="" class="footer-nav-link">Справка</a>
    <a href="" class="footer-nav-link">Smeta.ru</a>
    <a href="" class="footer-nav-link">Нормонавигатор</a>
    <a href="" class="footer-nav-link">Смета НЦС</a>
  </div>
  <div class="footer-other">
    <div class="footer-partners">
      <div class="footer-partners-visa"></div>
      <div class="footer-partners-uniteller"></div>
    </div>
    <p><a href="">Контакты</a> | © 2014  ООО "Учет и право"</p>
  </div>
</div>
