.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 500px;
  padding-top: 20px;
}
.main-section-headline {
  text-align: center;
  color: white;
  font-size: 26px;
  margin-bottom: 100px;
}

.main-section-btn {
  width: 365px;
  height: 60px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  font-size: 18px;

  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  transition: .5s all ease;
  background-color: grey;
}
.main-section-btn__active {
  background-color: #ff6666;
}
.main-section-btn__active:hover {
  transform: scale(1.05);
}

@media (max-width: 1080px) {
  .main-section-headline {
    font-size: 20px;
  }
  .main-section-btn {
    width: 292px;
    height: 48px;
    font-size: 14px;
  }
}


@media (max-width: 415px) {
  .main-section-headline {
    padding: 0 10px;
  }
}

@media (max-width: 320px) {
  .main-section {
    height: 80vw;
  }
}