.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-image: url('../images/background.jpg');
  background-size: 900px 750px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

@media (max-width: 700px) {
  .main {
    background-size: 840px 730px;
  }
}
